.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Swiper custom styles */
.graduate-swiper {
  width: 100%;
  height: 100%;
  min-height: 430px;
}
.graduate-swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 550px;
  object-fit:cover;
}
 .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-next,
.swiper-button-prev {
  color: #323333 !important;
  width: 25px !important;
  height: 25px !important;
  border-radius: 50%;
  --swiper-navigation-size: 20px;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 15px !important;
}

.swiper-pagination-bullet-active {
  background-color: #3b82f6 !important;
}

.swiper-pagination {
  bottom: 0 !important;
}